.slide-hover {
  position: relative;
  overflow: hidden;
}

.slide-hover::before {
  content: "";
  position: absolute;
  left: 0;
  width: 200%;
  height: 500%;
  background-color: #3f9510;
  transform: translateX(-100%) rotate(-90deg);
  transition: transform 1s ease;
  z-index: 0;
}

.slide-hover:hover::before {
  transform: translateX(0) rotate(0);
}

.slide-hover-content {
  position: relative;
  z-index: 10;
}
.slide-hover:hover .icon-bg-hover {
  background-color: #ffffff; /* Change to white on hover */
}

/* Landing Page */

/* .landing-bgimg {
    background-image: url(./assets/images/logoNoBg.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 60vh;
    position: relative; } */
/* Executive Section  */
.bg-img {
  background-image: url(./assets/images/executivebg.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 60vh;
  position: relative;
}

.bg-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* 30% opacity */

  pointer-events: none; /* Allows interactions with elements below the overlay */
}

/* Testimonies Section  */


#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 5%;
  height: 10%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

.CountUp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* Events section */
.events {
  background-image: url("./assets/images/events-hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 200vh;
  position: relative;
}

.events::before {  
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Covers the entire .events container */
  background-color: black;
  opacity: 0.8; /* Adjust as needed */
  z-index: 3;
}

/* .bg-img {
  background-image: url("./assets/images/events-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 200vh;
  position: relative;
  opacity: 0.6; 
  z-index: 3;
} */


/* .bg-img::before {  
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background-color: black;
  z-index: 3;
} */


/* Events Image (flyer ) Swiper pagination style  */
.swiper-pagination {
  bottom: 0rem !important;
  text-align: center;

}
.swiper-pagination-bullet {
  background: #012909 !important; /* Tailwind blue-600 */
  opacity: 1;
  
}
.swiper-pagination-bullet-active {
  background: #3C970D !important; /* Tailwind blue-800 */
  transform: scale(1.2);
}
/* .mySwiper{
  background-color: aqua;
  height: 40rem;
} */




/* Events Hero Type Writer Style */
@keyframes blink {
  0%, 100% { border-color: transparent; }
  50% { border-color: white; }
}
.wrap {
  border-right: 2px solid white;
  animation: blink 1s step-end infinite;
}
